<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div style="display: flex; flex-direction: row">
        <div style="margin-left: 40px; display: flex; margin-top: 8px">
          <span class="material-symbols-outlined">joystick</span>
          <span class="search-logo" routerLink="/">{{title}}</span>
        </div>

        <input class="search-input" name="search" ngModel placeholder="Search 50000+ games"/>
        <button matButton class="search-button" color="primary">Search</button>
      </div>
    </form>
</div>
