<div class="filters">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <mat-select [(value)]="select" (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let field of sortFields" [value]="field.value">{{field.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div *ngFor="let game of games">
        <div class="game" #game (click)="gotoDetails(game.id)">
          <div *ngIf="!!game; else skeltemplate">
            <div class="game-img-container">
                <img src="{{game.background_image}}" alt="thumbnail" class="game-thumbnail">
            </div>
            <div *ngIf="game.metacritic" class="game-rating" [ngClass]="{'game-rating-good' : game.metacritic > 75, 'game-rating-avg' : game.metacritic > 50 && game.metacritic < 75, 'game-rating-poor': game.metacritic < 50}">
              {{game.metacritic}}
            </div>
            <div class="game-description">
                <p class="game-name">{{game.name}}</p>
                    <div class="game-platforms">
                        <div *ngFor="let parent_platform of game.parent_platforms">
                            <img class="game-platform" src="assets/images/{{parent_platform.platform.slug}}.svg"
                            alt="slug">
                        </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #skeltemplate>
  <ngx-skeleton-loader appearence="line" count="5" animation="progress-dark" [theme]="{'background-color': 'gray', 'height': '100%', 'width': '100%'}"></ngx-skeleton-loader>
</ng-template>
